NODE_ENV=development
TZ=America/Sao_Paulo
PORT=3001
WEB_PORT=5173
API_URL=http://localhost:3001
MONGO_URL=mongodb://localhost:27017/task-manager?replicaSet=rs0&directConnection=true
REDIS_URL=redis://localhost:6379
JWT_SECRET=super-secret
JWT_EXPIRES_IN=7d
SWAGGER_LOCAL_USER=swagger
SWAGGER_LOCAL_PASS=swagger
